.swiper {
  overflow-y: unset;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #33333380;
  width: 3.211rem;
  height: 5.362rem;
  border-radius: 0.5rem;
  color: white;
  transition: background-color 0.5s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #333333b5;
}

.swiper-button-prev {
  left: 2rem;
}

.swiper-button-next {
  right: 2rem;
}

.swiper-button-next:after {
  content: "" !important;
  background: url("/assets/icons/right-arrow.svg") no-repeat center/contain;
}

.swiper-button-prev::after {
  content: "" !important;
  background: url("/assets/icons/left-arrow.svg") no-repeat center/contain;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  width: 40px;
  height: 40px;
  display: block;
}

.swiper-pagination {
  bottom: -2.5rem !important;
  max-width: fit-content;
  left: 50% !important;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  background-color: #e4404ab3;
}

.swiper-pagination-bullet-active {
  background-color: #e4404a;
  box-shadow: 0rem 0rem 0rem 0.156rem #e4404a66;
}

@media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 1.653rem;
    height: 2.76rem;
    border-radius: 0.3rem;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    width: 20px;
    height: 20px;
    display: block;
  }

  .swiper-button-next {
    right: 1rem;
  }

  .swiper-button-prev {
    left: 1rem;
  }
}

@media (max-width: 425px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 1rem 0.5rem;
  }
}
