@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./cursor-styles.css");

@layer components {
  .container {
    @apply w-full px-2.5 md:px-4 mx-auto;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.property-carousel::-webkit-scrollbar {
  display: none;
}

.property-carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.range-slider-track.range-slider-track-1 {
  background-color: #e74451;
}
