@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-full max-w-container px-4 md:px-8 mx-auto;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.property-carousel::-webkit-scrollbar {
  display: none;
}

.property-carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
