@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./cursor-styles.css");

@layer components {
  .container {
    @apply w-full px-2.5 md:px-4 mx-auto;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.property-carousel::-webkit-scrollbar {
  display: none;
}

.property-carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* .follower {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transform-origin: center;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.follower__inner__bottom {
  background-color: "#ccc";
}

.follower__content {
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 400;
  height: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  transform-origin: center;
}

.follower__inner__bottom {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  opacity: 1;
  transform-origin: center;
  z-index: 20;
}
.follower__inner__top {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: beige;
  opacity: 0;
  transform-origin: center;
}

body:not(:hover) {
  .follower {
    display: none;
  }
}

@media (prefers-reduced-motion) {
  .follower {
    display: none;
  }
} */

.range-slider-track.range-slider-track-1 {
  background-color: #e74451;
}

.container-div {
  width: 100%;
}
/* Jelly Blob Div */
.mfs_cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  /* border-width: 2px; */
  border-color: black;
  border-radius: 75px;
  /* scale: 0; */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}
/* Text Inside Jelly Blob */
.media-element {
  width: 100%;
  opacity: 1;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  scale: 0;
}
