/* Carousel Styling by overriding SwiperJS at breakpoints */

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.gradient-overlay {
  background: linear-gradient(transparent, rgba(245, 245, 245, 1));
  transform: translateY(100%);
}

@media (max-width: 370px) {
  .carousel-slider .swiper-slide {
    width: 10rem !important;
  }
}

@media (max-width: 1023px) {
  .carousel-slider .swiper-slide {
    width: 15rem !important;
  }
}

/* Needs to be seen if in line with coding convention */
@media (max-width: 600px) {
  .carousel-slider .swiper-slide {
    width: 8.5rem !important;
  }
}

.mySwiper3 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 0.5rem;
  overflow: hidden;
}

.mySwiper3 .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper3 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
