.parallax-slide {
  transition: transform 0.5s; /* Add smooth transition */
}

.swiper-slide-active.parallax-slide {
  width: 300px; /* Width of active slide */
}

.swiper-container {
  overflow: visible; /* Ensure that the parallax effect is visible */
}

/* Parallax effect */
.parallax-slide {
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.swiper-slide-active.parallax-slide {
  transform: translate3d(0, 0, 0); /* Adjust parallax effect */
}
