.swiper {
  overflow-y: unset;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #33333380;
  padding: 3rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
}

.swiper-button-prev {
   left: 4rem;
}

.swiper-button-next {
  right: 4rem;
}

.swiper-button-next:after {
    font-weight: bolder;
    content: url("/assets/icons/right-arrow.svg");
}

.swiper-button-prev:after {
    font-weight: bolder;
    content: url("/assets/icons/left-arrow.svg");
}



.swiper-pagination {
    bottom: -2.5rem !important;
  }
  
  .swiper-pagination-bullet{
    background-color: #e4404ab3;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #e4404a;
    box-shadow: 0rem 0rem 0rem 0.156rem #e4404a66
  }